[Unit]
Description = TorrServer
After = syslog.target network.target nss-lookup.target

[Service]
Type = simple
Environment="GODEBUG=madvdontneed=1"
ExecStart = /home/shakurov/source/repos/TorrServer/TorrServerMyFork/dist/TorrServer-linux-amd64 --path /home/shakurov/ts/config/ --logpath /home/shakurov/ts/log --weblogpath /home/shakurov/ts/weblog --dontkill --torrentsdir /home/shakurov/ts/torrents/
ExecReload = /bin/kill -HUP ${MAINPID}
ExecStop = /bin/kill -INT ${MAINPID}
TimeoutSec = 30
Restart = on-failure
LimitNOFILE = 4096

[Install]
WantedBy = multi-user.target
