[Unit]
Description=TorrentServer AutoStarted In Docker
Requires=docker.service
After=docker.service syslog.target network.target nss-lookup.target

[Service]
Type = simple
Restart = on-failure
#Restart=always
ExecStart=docker run -d --rm  --name torrserver -v /root/ts-docker/opt:/opt -p 0.0.0.0:8090:8090 -p 0.0.0.0:8091:8091 torrserver
ExecStop=docker stop  torrserver

[Install]
WantedBy=multi-user.target